*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-image: url(https://i.pinimg.com/originals/de/1d/df/de1ddf9ee30e08e15460626b919ef87e.jpg) /*url(https://wallpapershome.com/images/pages/ico_h/21456.jpg)*/;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #e5b5f5;
}
/*  ScoreCard   */
#info{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    
}
.restart{
    width: 4vw;
    margin-left: 0;
    border: none;
    color: black;
    box-shadow: 8px 8px 15px #222;
}

#scorecard{
    color: #eee ;
    width: 74vw;
    height: 8vh;
    background: #512a7a;  
    box-shadow: 10px 8px 15px #222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#userScore{
    margin-left: 10vw;

}
#compScore{
    margin-right: 10vw;
}

/*  styling the user choice screen   */
.userScreen{
    background: #512a7a;
    width: 60%;
    margin-top: 25px;
    padding: 25px;
}
.btn{
    margin-left: 100px;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #aaa;
    text-align: center;
}

/*  Styling Modal to be opened when user mades his choice   */
.modal {
    display: none;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background: #fff;
    margin: 6vh auto;
    padding: 20px;
    width: 70%;
    height: 80vh;
    border: 1px solid #888;
}
/*  player indicator on modal    */
#playerIndicator{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*  positioning icon used   */
.fa-hand-rock{
    
}
.fa-hand-rock, .fa-hand-paper, .fa-hand-scissors{
    font-size: 10em;
    position: relative;
    left: 10vw;
    top: 10vh;
}
span.fa-hand-rock,
span.fa-hand-paper,
span.fa-hand-scissors{
    font-size: 10em;
    position: relative;
    left: 45vw;
    top: -15vh;
} 
  .close:hover,
  .close:focus {
    outline: none;
  }

